<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/public/css/styles.css">
    <title>{{title}}</title>
  </head>

<body>
    <div class="working">WORKING!</div>
    <main id="body-content">
        {{{body}}}
    </main>
</body>

</html>